<%= stylesheet_link_tag    "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery.Jcrop" %>
<%= javascript_include_tag "galleries" %>

<h1>Обрезака фото</h1>

<%= image_tag @gallery.photo_url, :id => 'cropbox' %>

<h4>Предварительный просмотр</h4>
<div style='width:100px; height:100px; overflow:hidden;'>
  <%= image_tag @gallery.photo.url, :id => 'preview' %>
</div>

<%= form_for @gallery, :url => admin_gallery_path(@gallery), :method => (@gallery.photo.present? ? :put : :post) do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}", :id => "gallery_crop_#{attribute}" %>
  <% end %>
  <div class='actions'>
    <%= f.submit 'Обрезать' %>
  </div>
<% end %>
