<div class="container">
  <div class="panel">
    <div class="row-fluid">
      <div class="span12 header">
        <hgroup>
          <h2><%== show_("block2 title") %></h2>
          <h3><%== show_("block2 description") %></h3>
        </hgroup>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12 content">
        <% @services.each_with_index do |service| %>
          <% if service.categories.where(:separately => true).blank? %>
            <%= render partial: "layouts/three_photos", locals: { :service => service } %>
            <div id='block2_description'>
              <h3><%= localiztion_for(service, :title) %></h3>
              <p><%= localiztion_for(service, :description) %></p>
              <div class='hide_data' id='for_service<%= service.id %>'>
                <h1 id='price'><%= t("prices") %></h1>
                <%= render partial: "layouts/prices", locals: { :service_id => service.id, :category_id => nil } %>
                <% service.categories.each do |category| %>
                  <% if @prices.select { |pr| pr.service_id == service.id && pr.category_id == category.id }.first %>
                  <%# if Price.where(:service_id => service.id, :category_id => category.id).first %>
                    <h3><%= localiztion_for(category, :title) %></h3>
                    <%= render partial: "layouts/prices", locals: { :service_id => service.id,
                                                                                                :category_id => category.id } %>
                  <% end %>
                <% end %>
              </div>
              <p>
                <a href="javascript: void(0)" id='for_service<%= service.id %>' class='hide_data_btn lux_btn2'>
                  <%= t 'price_btn' %>
                </a>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>