<% @galleries.each do |gallery| %>
  <div class="boxportfolio4<%= set_categories2_for_(gallery) %> ">
    <div class="boxcontainer">
      <%= image_tag gallery.photo_url(:for_gallery), :alt => alt_for(gallery) %>
      <div class="roll" style="<%= settings_for(gallery) %>">
        <div class="wrapcaption" style="<%= settings2_for(gallery) %>">
          <a data-gal="prettyPhoto[gallery__0]" href="<%= gallery.photo_url %>" title="<%= gallery.title %>">
            <i class="icon-zoom-in captionicons"></i>
          </a>
        </div>
      </div>
      <% if show_description_for(gallery) %>
        <h1><a href="singleproject.html"><%= localiztion_for(gallery, :title)[0..25] %></a></h1>
        <p><%= localiztion_for(gallery, :description)[0..25] %></p>
      <% end %>
    </div>
  </div>
<% end %>