<% service.galleries.each_with_index do |gallery, i| %>
  <% if service.galleries.size > 3 && i > 2 %>
    <a href="<%= gallery.photo.url %>" data-gal="prettyPhoto[gallery<%= service.id %>]"></a>
  <% end %>
<% end %>
<ul class="portfolio">
  <% (0..2).each do |el| %>
    <li class="span4">
      <div class="item">
        <a href="<%= service.image(el) %>" data-gal="prettyPhoto[gallery<%= service.id %>]">
          <%= image_tag service.image(el, :block2) %>
        </a>
      </div>
    </li>
  <% end %>
</ul>